# AnyRouter 账号配置
ANYROUTER_ACCOUNTS=[{"cookies":{"session":"MTc3NTk2NjA1MXxEWDhFQVFMX2dBQUJFQUVRQUFEX3hQLUFBQVlHYzNSeWFXNW5EQTBBQzI5aGRYUm9YM04wWVhSbEJuTjBjbWx1Wnd3T0FBeDViVVZvVTIxbFlURmlRVE1HYzNSeWFXNW5EQVFBQW1sa0EybHVkQVFFQVA3MzVnWnpkSEpwYm1jTUNnQUlkWE5sY201aGJXVUdjM1J5YVc1bkRBNEFER2RwZEdoMVlsOHpNVGN6TVFaemRISnBibWNNQmdBRWNtOXNaUU5wYm5RRUFnQUNCbk4wY21sdVp3d0lBQVp6ZEdGMGRYTURhVzUwQkFJQUFnWnpkSEpwYm1jTUJ3QUZaM0p2ZFhBR2MzUnlhVzVuREFrQUIyUmxabUYxYkhRPXwspwV0S5lyssgwcXkygMYBi1LPsQuZ6yzyCK13Dvha_g=="},"api_user":"31731"}]

# 可选：通知配置
# DINGDING_WEBHOOK=https://oapi.dingtalk.com/robot/send?access_token=xxx
# EMAIL_USER=your_email@example.com
# EMAIL_PASS=your_password
# EMAIL_TO=recipient@example.com
# EMAIL_SENDER=
# PUSHPLUS_TOKEN=your_pushplus_token
# SERVERPUSHKEY=your_server_pushkey
# FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/xxx
# WEIXIN_WEBHOOK=https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=xxx
# GOTIFY_URL=https://your-gotify-server/message
# GOTIFY_TOKEN=your_gotify_token
# GOTIFY_PRIORITY=9
